html.ng-scope {
	margin-left: 0px !important;
	margin-top: 0px !important;
}

#side {

	float: left;
	width: 170px;
	height: 100%;
	background: #bbf2bf;
	font-size: 18px;
	color: #000;
	margin-top: 3px;
}

#header {

	width: 100%;
	height: 40px;
	font-size: 25px;
	background: #bbf2bf;
}

#content {

	float: left;
	margin-left: 20px;
	margin-top: 3px;
	/*border:1px solid black;*/
	width: 80%;
	height: 100%;
}

.header-login-btn {

	float: right;
	margin-top: 3px;
	margin-right: 20px;
}

/* line 491, ../sass/ng-animation.scss */
.aaa.ng-enter {
	transform: translateY(-240px);
	-ms-transform: translateY(-240px);
	-webkit-transform: translateY(-240px);
	transition-duration: 250ms;
	-webkit-transition-duration: 250ms;
	opacity: 0;
}

/* line 497, ../sass/ng-animation.scss */
.aaa.ng-enter-active {
	transform: translateY(0);
	-ms-transform: translateY(0);
	-webkit-transform: translateY(0);
	opacity: 1;
}

/* line 502, ../sass/ng-animation.scss */
.aaa.ng-leave {
	transform: translateY(0);
	-ms-transform: translateY(0);
	-webkit-transform: translateY(0);
	transition-duration: 250ms;
	-webkit-transition-duration: 250ms;
	opacity: 1;
}

/* line 508, ../sass/ng-animation.scss */
.aaa.ng-leave-active {
	transform: translateY(-240px);
	-ms-transform: translateY(-240px);
	-webkit-transform: translateY(-240px);
	opacity: 0;
}

/*图片瀑布流的样式设置*/
/*图片排列一行*/
.deckgrid .column {
	float: left;
}

/*样式，没有这个会出错，其中4 是列数*/
.deckgrid[deckgrid]::before {
	content: '4 .column.size-1-5';
	visibility: hidden;
}

/*图片之间的间距*/
.ng-scope {
	margin-left: 10px;
	margin-top: 10px;
}

.animation-fade {
	opacity: 0;
}

.animation-faded {
	opacity: 1;
}

.animation-faded {
	-webkit-transition: opacity 1s linear .2s;
	-moz-transition: opacity 1s linear .2s;
	-o-transition: opacity 1s linear .2s;
	transition: opacity 1s linear .2s;
}

.photo {
	background: #fff url("/images/spinner.gif") center 30px no-repeat;
	border: 1px solid rgba(0, 0, 0, .15);
	border-radius: 3px;
	margin: 0 10px 10px 0;
	position: relative;
}

.photo .photo-index {
	background: rgba(0, 0, 0, .9);
	color: #fff;
	position: absolute;
	height: 100%;
	text-align: center;
	width: 100%;
	z-index: 99;
}

.photo .photo-index p:first-child {
	margin-top: 10px;
}

.photo .photo-wrapper {
	min-height: 60px;
}

.photo .photo-description {
	padding: 15px;
}

/*loading icon position*/
.loading {
	position: absolute;
	top: 50%;
	background: #00000000;
	width: 330px;
	height: 72px;
	left: 50%;
	margin-top: -86px;
	margin-left: -120px;
	text-align: center;
	color: white;
	font-size: 20px;
}


/*loading 的背景遮罩层*/
.loading_bg {

	background: #000;
	filter: alpha(opacity=5);
	opacity: .5;
	left: 0px;
	top: 0px;
	position: fixed;
	height: 100%;
	width: 100%;
	overflow: hidden;
	z-index: 10000;
	margin-left: 0px !important;
	margin-top: 0px !important;
}

/*顶部提示条的关闭按钮 样式*/
.alertTipBg {

	position: fixed;
	width: 100%;
	top: 0px;
	left: 0px;
	background-color: #3c763d;
	color: white;
	font-size: 28px;
	border-radius: 1px;
	text-align: center;
	z-index: 9999;
	margin-left: 0px;
	margin-top: 0px;
}

/*alert退出按钮*/
.alertTipBtn {
	float: right;
	margin-right: 20px;
	cursor: pointer;
	background: transparent;
	border: 0;
	font-size: 15px;
}
